:root {
    --dark-grey: #1e2125;
    --light-white: #eeeeee;
    --light-white2: #fafafa;
    --dark--blue: #38569f;
    --dark-blue2: #38569f;
    --light-blue: #17bed2;
    --light-blue2: #4682b4;
    --light-blue3: #4586FF;
    --light-blue4: #00adb5;
    --dark-yellow: #ff6600;
    --light-yellow: #f9a743;
    --dark-yellow2: #e6840e;
    --light-green: #30be72;
}

.articles {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.articles__container {
    max-width: 79.375rem;
    margin: 0 auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.gallery-title {
    opacity: 0;
}
.loaded .gallery-title {
    font-size: 3rem;
    font-weight: 500;
    /* margin-bottom: 0.625rem; */
    margin-top: 2.5rem;
    text-align: center;
    /* color: #495057; */

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 1.3s ease, opacity 1.3s ease;
}
.gallery-title:hover {
    color: var(--dark-blue);
    transition: color 1s ease;
    
}

.articles__filter {
    margin-bottom: 1.25rem;
}

.filter-articles {
    opacity: 0;
}
.loaded .filter-articles{
    padding-top: 0.9375rem;
    display: flex;
    align-items: center;
    column-gap: 1.5625rem;
    row-gap: 0.3125rem;
    flex-wrap: wrap;

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 6s ease, opacity 6s ease;
}
@media (max-width: 767.98px) {

    .gallery-title {
        padding-top: 2rem;
        padding-left: 1.5rem;
        font-size: 1.5rem;
    }

    .loaded .gallery-title {
        font-size: 1.5rem;
        margin-top: 0rem;
        margin-left: 0rem;
    }
    .loaded .filter-articles{
        justify-content: center;
        align-items: center;
    }
    .article__date {
        text-align: center;
        }
        .article__image {
            display: block;
            margin-bottom: 0.75rem;
            position: relative;
            border-radius: 0.3125rem;
            overflow: hidden;
        }
}

.filter-articles__item {
    font-size: 18px;
    line-height: 2;
    transition: all 0.3s;
}

.filter-articles__item:hover,
.filter-articles__item.active {
    color: var(--dark-yellow);
    font-size: 1.375rem;
    
}

.articles__items {
    margin: 0 auto;
    transition: all 0.3s;

}

.articles__item {
    width: 25rem;
}

.articles__item:not(:last-child) {
    margin-bottom: 1.25rem;
}

@media (max-width: 430px) {
    .articles__item {
        width: 100%;
    }

    .articles__items {
        /* width: auto !important; */
    }
}

@media (min-width: 768.98px) {
    .article__image {
        display: block;
        margin-bottom: 1rem;
        position: relative;
        border-radius: 0.1875rem;
        overflow: hidden;
    }
}

.article__image:hover img {
    transform: scale(1.03);
}

    .article__image img.init {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: transform 0.3s;
    }

.article__body {
    display: grid;
    gap: 0.9375rem;
}

.article__date {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
}

.article__link-title {
    font-size: 20px;
    color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.article__text {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.6;
    padding: 0;
}