:root {
  --dark-grey: #1e2125;
  --light-white: #eeeeee;
  --light-white2: #fafafa;
  --dark--blue: #38569f;
  --dark-blue2: #38569f;
  --light-blue: #17bed2;
  --light-blue2: #4682b4;
  --light-blue3: #4586FF;
  --light-blue4: #00adb5;
  --dark-yellow: #ff6600;
  --light-yellow: #f9a743;
  --dark-yellow2: #e6840e;
  --light-green: #30be72;
}

.header__container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .9375rem;

}
.sticky-header {
    height: 7vh;
    background-color: #7a828a07;
    left: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .sticky-header.fixed {
    position: fixed;
    top: 0;
  }
  .sticky-header.bottom {
    bottom: 0;
  }

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: .3125rem;
    column-gap: 1.5rem;
}
.menu__link {
    font-size: 1.0625rem;
    padding-bottom: 0.3125rem;
    font-weight: 700;
    color: #495057;
    font-family: Roboto, sans-serif;
    display: inline-block;
    line-height: 1.5;
    position: relative;
}

.menu__link.active {
    color: var(--dark-yellow);
}